.headerNotification {
  text-align: center;
}

.notification {
  position: absolute;
  top: calc(100% + 12px);
  left: 49rem;
}

@media screen and (min-width:300px) and (max-width:500px) {
  .notification {
    top: calc(100% + 12px);
    left: 20rem;
  }
}